.form {
  margin: 0 40px;
}

.form-field {
  font-size: inherit;
  margin: 5px 0;
  padding: 12px 20px;
  width: 100%;
  border: 1px solid rgb(163 163 163);
  border-radius: 5px;
}

.button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
  font-size: inherit;
  margin: 0;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
