.button {
  background-color: teal;
  border: 1px solid black;
  color: white;
  width: 50%;
  font-size: inherit;
  margin: 0 0 15px;
  padding: 12px 20px;
  width: 100%;
  display: block;
  text-decoration: none;
}
.button_container {
  margin: 0 40px;
}
